<div class="container">
  <div class="show-box">
    <div class="top-box">
      <span class="title"> Hipster Cred Rating</span>
      <br>
      <span class="score"> <%= @score["total"] %></span>
      <p id='out-of-ten'> out of 10 </p>
      <div class="row">
        <div class="wrap">
        <div class="col-md-3">
          <span class="float-left">Obscurity </span>
        </div>
        <div class="col-md-3">
          <div id="obscurity"><%= @score["obscurity"] %></div>
        </div>
        </div>
      </div>
      <div class="row">
              <div class="wrap">
              <div class="col-md-3">
                <span class="float-left">Freshness </span>
              </div>
              <div class="col-md-3">
                <div id="freshness"><%= @score["freshness"] %></div>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="wrap">
              <div class="col-md-3">
                <span class="float-left">Elitism </span>
              </div>
              <div class="col-md-3">
                <div id="rating"><%= @score["rating"] %></div>
              </div>
              </div>
            </div>
      <div id='congrats-box'>
        <h3 class="congrats"> Congratulations</h3>
        <h3 class="congrats"><strong>"<%= @user.username %>"</strong></h3>
        <h3 class="congrats">you are <%= @message %>.</h3>
        <h3><%= link_to "TRY AGAIN", users_path%></h3>
      </div>
    </div>

    <br>
    <br>
    <h4><i> Your Album Critique </i></h3>
    <div id="divider"></div>
    <br>
    <div class="results-box">
      <ul>
        <% @albums.each_with_index do |album, i | %>
        <li><h4><%= i + 1 %>. <%= album["name"]%> by <%= album["artist"]%> </h4></li>
        <img src='<%=album['img_url']%>'>
        <br>
        <span> <strong>&#8226; Obscurity </strong><%= album["unpopularity"].to_s %></span>
        <br>
        <span> <strong>&#8226; Freshness </strong><%= album["freshness"].to_s %> </span>
        <br>
        <span> <strong>&#8226; Pitchfork Rating </strong><%= album["rating"].to_s %></span>
        <br>
        <br>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){

  $(window).load(function(){
    $("#obscurity").animate({
      width: "+=<%= @score["obscurity"]*20 %>",
        }, 1000, function() {
      });
    $("#freshness").animate({
      width: "+=<%= @score["freshness"]*20 %>",
        }, 1000, function() {
      });
    $("#rating").animate({
      width: "+=<%= @score["rating"]*20 %>",
        }, 1000, function() {
      });
  });
});
</script>

<%= javascript_tag do %>


<% end %>
